<style>
    input[type=color].astutus_color {
        height: 26px;
        width: 26px;
        padding: 1px;
    }
</style>
<table>
    <tr>
        <td>Name</td><td>{{ device_config.name }}</td>
    </tr>
    <tr>
        <td>Device ID</td><td>{{ device_config.id }}</td>
    </tr>
    <tr>
        <td>Stylers:</td>
        <td>
            {% for styler in device_config.stylers %}
            <table>
                {% for key, value in styler.items() %}
                    {% if key == 'color' %}
                        <tr><td>{{ key }}</td><td><input type="color" value="{{ value }}" class="astutus_color"/></td></tr>
                    {% else %}
                        <tr><td>{{ key }}</td><td><input type="text" value="{{ value }}"/></td></tr>
                    {% endif %}
                {% endfor %}
            </table>
            <hr/>
            {% endfor %}
        </td>
    </tr>
</table>