

{% if aliases | length > 1 %}
    <h2>Items</h2>
    {% for key, alias in aliases.items() %}
        <div>
            <table>
                <tr>
                    <td>Name</td><td>{{ alias.name }}</td>
                </tr>
                <tr>
                    <td>Pattern</td><td>{{ alias.pattern }}</td>
                </tr>
                <tr>
                    <td>Template</td><td>{{ alias.description_template }}</td>
                </tr>
                <!-- <tr>
                    <td>Color</td><td>{{ alias.color }}</td>
                </tr>
                <tr>
                    <td>Order</td><td>{{ alias.order }}</td>
                </tr>
                <tr>
                    <td>Priority</td><td>{{ alias.priority }}</td>
                </tr> -->
            </table>
            <button onclick="window.location.href='/astutus/usb/alias/{{ alias.pattern }}'">Edit</button>

            <!-- <form onsubmit="return deleteViaJavascript('{{ alias.match }}' );">
                <button type="submit">Delete</button>
            </form> -->

            <hr/>
        </div>
    {% endfor %}
{% else %}
    There are no aliases defined.
{% endif %}

