<style>
  :root {
    --alias-editor-height: 170px;
    --placeholder-instructions-height: 30px;
    --other-height: 20px;
    --astutus-table-scroll-static-height: calc(var(--alias-editor-height) + var(--placeholder-instructions-height) + var(--other-height));
  }
  div.add-alias-form {
    margin-bottom: 2ch;
  }
  div.astutus-placeholder {
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  div.astutus-current-value {
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  div.astutus-insert-placeholder {
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    margin: 0px;
  }
  #nodepath {
    width: 100%;
  }
  #template {
    width: 100%;
  }
  #add_alias_form_button_div {
    padding-top: 1ch;
  }
  .dirname_class {
    display: none;
  }
  .node_id_class {
    display: none;
  }
  .node_attr_table_class {
    display: none;
  }
  .tree_html {
    padding: 1ch;
  }
  table.astutus-table-scroll-header td:nth-child(1),
  table.astutus-table-scroll td:nth-child(1) {
    width: 65px;
  }
  table.astutus-table-scroll-header td:nth-child(1),
  table.astutus-table-scroll td:nth-child(1) {
    width: 20%;
  }
  table.astutus-table-scroll-header td:nth-child(2),
  table.astutus-table-scroll td:nth-child(2) {
    width: 80%;
  }
  #astutus-add-alias-table input[type=text] {
    width: 100%;
  }
  #astutus-add-alias-table input[type=number] {
    width: 8ch;
  }
  .rst-content .section #tree-html-container ul.ast li button.astutus-tree-item-button {
    border-radius: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .rst-content .section #tree-html-container ul.ast li>* {
    line-height: 14px;
    margin-bottom: 2px;
    margin-top: 2px
  }
</style>
<p>
  <input type="checkbox" onclick="toggleVisibility(this, '.node_attr_table_class', 'block')">Attribute Table</input>
  <input type="checkbox" onclick="toggleVisibility(this, '.node_id_class', 'inline')">Node ID</input>
  <span>
  <input type="color" value="{{ tree_html_background_color }}" onchange="onBackgroundColorChange(this)" class="astutus-color">Background Color</input>
  </span>
</p>
<div class="tree_html" id="tree-html-container">
  {{ tree_html | safe }}
</div>
  <!-- TODO: Add in collapsing feature without bringing the ugly styling
    <script>
    $(function() {
      $('#tree-html-container').jstree();
    });
  </script> -->
<div id="add-alias-form-container" class="astutus-popup">
  <div class="add-alias-form">
    <form method="POST">
      <table id="astutus-add-alias-table">
      <tr>
        <td><label for="nodepath">Node path:</label></td>
        <td>
          <textarea name="nodepath" id="nodepath" rows="3" cols="50" wrap="soft"></textarea>
        </td>
      </tr>
      <tr>
        <td><label for="template">Template:</label></td>
        <td><input
            name="template"
            id="template"
            type="text"
            value="need to populate ..."
            onselect="console.log('onselect: ' + Date.now())"
            oninput="console.log('oninput: ' + Date.now())"
            onblur="rememberTemplateSelection(this.selectionStart, this.selectionEnd)"
            onchange="console.log('onchange: ' + Date.now())"/></td>
      </tr>
      <tr>
        <td><label for="color">Choose a color:</label></td>
        <td>
          <input name="color" id="color" type="color" class="astutus-color"/>
        </td>
      </tr>
      <tr>
        <td><input name="action" id="action" type="hidden" value="add_or_update_alias" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Add" id="add_alias_form_add_button" /></td>
        <td><input type="button" value="Cancel" onclick="handleAddAliasFormCancel()"/></td>
      </tr>
      </table>
    </form>
  </div>
  <div id="placeholder-instructions">
    The following placeholders can be inserted into the template by clicking its Insert button.
    <table class="astutus-table-scroll-header">
      <thead><tr><th></th><th>Placeholder</th><th>Current Value</th></tr></thead>
    </table>
  </div>
  <div class="astutus-table-scroll-wrapper">
    <div class="astutus-table-scroll">
      <table id="alias-placeholder-table" class="astutus-table-scroll">
        <tr><td>Placeholder</td><td>Current Value</td><td></td></tr>
      </table>
    </div>
  </div>
</div>
<script>
  function handleTreeItemClick(data) {
    $("#nodepath").val(data["nodepath"]);
    $("#template").val(data["alias_description_template"]);
    var color = data["alias_color"];
    if (color != "") {
      $("#color").val(color);
    }

    var container = $("#add-alias-form-container");
    var nodeButton = $("#" + data["idx"]);
    var buttonOffset = nodeButton.offset();
    container.css("top", buttonOffset.top + 30);
    container.css("left", buttonOffset.left + 30);

    updatePlaceholderTable('#alias-placeholder-table', data);


    container.show();

    if (!isElementInViewport(container)) {
      // Form will be below button
      console.log("Scrolling element into view.")
      var domDivElement = container[0];
      domDivElement.scrollIntoView(false);
    }
  }

  function handleAddAliasFormCancel() {
    $("#add-alias-form-container").hide();
  }

  function isElementInViewport(el) {

    if (typeof jQuery === "function" && el instanceof jQuery) {
        el = el[0];
    }

    var rect = el.getBoundingClientRect();

    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  function toggleVisibility(checkbox, cssClass, displayValue) {
    if (checkbox.checked) {
      $(cssClass).css("display" , displayValue);
    } else {
      $(cssClass).css("display" , "none");
    }
  }

  function onBackgroundColorChange(colorInput) {
    $(".tree_html").css("background-color", colorInput.value)
    data = {
      "background-color": colorInput.value
    }
    // TODO: should be patch, not post.
    $.post('/astutus/usb/settings', data)
      .fail(function(jqxhr, settings, ex) { alert('failed, ' + ex); });
  }

  function getSortedKeys(obj) {
    var keys = Object.keys(obj);
    return keys.sort();
  }

  function updatePlaceholderTable(table_id, data) {
    $(table_id).empty();

    var dataKeys = getSortedKeys(data);
    var idx;
    var key;
    var value;
    var rowText;
    var newRow;
    for (idx = 0; idx < dataKeys.length; idx++) {
      key = dataKeys[idx];
      if (key != 'idx') {
        value = data[key];
        placeholder = `{${key}}`
        tdPlaceholder = `<td><div class="astutus-placeholder">${placeholder}</div></td>`;
        tdCurrentValue = `<td><div class="astutus-current-value">${value}</div></td>`;
        onClickText = `handleInsertButtonClick('${placeholder}')`
        tdbutton = `<td><div class="astutus-insert-placeholder"><button onclick="${onClickText}">Insert</button></div></td>`
        rowText = `<tr>${tdbutton}${tdPlaceholder}${tdCurrentValue}</tr>`;
        $(table_id).append(rowText)
      }
    }

  }
  var templateSelectionStart;
  var templateSelectionEnd
  function rememberTemplateSelection( selectionStart, selectionEnd) {
    templateSelectionStart = selectionStart;
    templateSelectionEnd = selectionEnd;
  }

  function handleInsertButtonClick(value) {
    // Insert a placeholder into the template.
    console.log("Need to handle inserting " + value + ' at (' + templateSelectionStart + ', ' +  templateSelectionEnd + ')');
    console.log("The entire string: " + $("#template").val());
    var templateValue = $("#template").val();
    var startStr = templateValue.substring(0, templateSelectionStart);
    console.log("startStr: " + startStr);
    var endStr = templateValue.substring(templateSelectionEnd);
    console.log("endStr: " + endStr);
    var replacementStr = startStr + value + endStr
    console.log("replacementStr: " + replacementStr);
    $("#template").val(replacementStr)
    var currentInsert = templateSelectionStart + value.length
    console.log('Desired current insert: ' + currentInsert)
    templateSelectionStart = currentInsert
    templateSelectionEnd = currentInsert
    $("#template")[0].selectionStart = currentInsert
    $("#template")[0].selectionEnd = currentInsert
  }

  // Set the background color upon loading
  $(".tree_html").css("background-color", '{{ tree_html_background_color }}');

</script>
