<style>
  #add_alias_form_container {
    background-color: rgb(212, 229, 241);
    padding: 3ch;
    display: none;
    position: absolute;
    height: 800px;
    width: 900px;
    resize: both;
    overflow: auto;
    /* left: 200px;
    top: 150px; */
    z-index: 11000;
  }
  #astutus-table-scroll {
    height:150px;
    width: 100%;
    /* overflow-y: scroll; */
    overflow: auto;
    background-color: rgb(119, 23, 23);
  }
  #astutus-table-wrapper table {
    width: 500px;
  }
  div.astutus-placeholder {
    width: 150px;
    text-overflow: ellipsis;
  }
  div.astutus-current-value {
    width: 200px;
    text-overflow: ellipsis;
  }
  div.astutus-insert-placeholder {
    width: 80px;
  }
  #nodepath {
    width: 100%;
  }
  #template {
    width: 100%;
  }
  #add_alias_form_button_div {
    padding-top: 1ch;
  }
  .dirname_class {
    display: none;
  }
  .node_id_class {
    display: none;
  }
  .node_attr_table_class {
    display: none;
  }
    .tree_html {
    padding: 1ch;
  }
  table#astutus_add_alias_table {
    width: 100%
  }
  #astutus_add_alias_table td:nth-child(1) {
    width: 20%;
  }
  #astutus_add_alias_table td:nth-child(2) {
    width: 80%;
  }
  #astutus_add_alias_table input[type=text] {
    width: 100%;
  }
  #astutus_add_alias_table input[type=number] {
    width: 8ch;
  }
  input[type=color].astutus_color {
    height: 26px;
    width: 26px;
    padding: 1px;
  }
  .rst-content .section #tree_html_container ul.ast li button.astutus_tree_item_button {
    border-radius: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .rst-content .section #tree_html_container ul.ast li>* {
    line-height: 14px;
    margin-bottom: 2px;
    margin-top: 2px
  }
  #alias_placeholder_table td:nth-child(1) {
    background-color: khaki;
  }
  #alias_placeholder_table td:nth-child(2) {
    background-color: rgb(160, 113, 180);
  }
  #alias_placeholder_table td:nth-child(3) {
    background-color: darkgoldenrod;
  }


</style>
<p>
  <input type="checkbox" onclick="toggleVisibility(this, '.node_attr_table_class', 'block')">Attribute Table</input>
  <input type="checkbox" onclick="toggleVisibility(this, '.node_id_class', 'inline')">Node ID</input>
  <input type="color" value="{{ tree_html_background_color }}" onchange="onBackgroundColorChange(this)" class="astutus_color">Background Color</input>
</p>
<div class="tree_html" id="tree_html_container">
  {{ tree_html | safe }}
</div>
  <!-- <script>
    $(function() {
      $('#tree_html_container').jstree();
    });
  </script> -->
<div id="add_alias_form_container" >
  <div id="astutus-table-wrapper">
    <div id="astutus-table-scroll">
      <table id="alias_placeholder_table">
        <tr><td>Placeholder</td><td>Current Value</td><td></td></tr>
      </table>
    </div>
  </div>


  <form method="POST">
    <table id="astutus_add_alias_table">
    <tr>
      <td><label for="nodepath">Node path:</label></td>
      <td>
        <textarea name="nodepath" id="nodepath" rows="3" cols="50" wrap="soft"></textarea>
        <!-- <input name="nodepath" id="nodepath" type="text" value="need to populate ..." /> -->
      </td>
    </tr>
    <tr>
      <td><label for="template">Template:</label></td>
      <td><input name="template" id="template" type="text" value="need to populate ..." /></td>
    </tr>
    <tr>
      <td><label for="color">Choose a color:</label></td>
      <td><input name="color" id="color" type="color" class="astutus_color"/></td>
    </tr>
    <tr>
      <td><input name="action" id="action" type="hidden" value="add_or_update_alias" /></td>
    </tr>
    <tr>
      <td><input type="submit" value="Add" id="add_alias_form_add_button" /></td>
      <td><input type="button" value="Cancel" onclick="handleAddAliasFormCancel()"/></td>
    </tr>
    </table>
  </form>
</div>
<script>
  function handleTreeItemClick(data) {
    $("#nodepath").val(data["nodepath"]);
    $("#template").val(data["alias_description_template"]);
    var color = data["alias_color"];
    if (color != "") {
      $("#color").val(color);
    }

    var container = $("#add_alias_form_container");
    var nodeButton = $("#" + data["idx"]);
    var buttonOffset = nodeButton.offset();
    container.css("top", buttonOffset.top + 30);
    container.css("left", buttonOffset.left + 30);

    updatePlaceholderTable('#alias_placeholder_table', data);


    container.show();

    if (!isElementInViewport(container)) {
      // Form will be below button
      console.log("Scrolling element into view.")
      var domDivElement = container[0];
      domDivElement.scrollIntoView(false);
    }
  }

  function handleAddAliasFormCancel() {
    $("#add_alias_form_container").hide();
  }

  function isElementInViewport(el) {

    // Special bonus for those using jQuery
    if (typeof jQuery === "function" && el instanceof jQuery) {
        el = el[0];
    }

    var rect = el.getBoundingClientRect();

    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
        rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
    );
  }

  function toggleVisibility(checkbox, cssClass, displayValue) {
    if (checkbox.checked) {
      $(cssClass).css("display" , displayValue);
    } else {
      $(cssClass).css("display" , "none");
    }
  }

  function onBackgroundColorChange(colorInput) {
    $(".tree_html").css("background-color", colorInput.value)
    data = {
      "background-color": colorInput.value
    }
    $.post('/astutus/usb/settings', data)
      .fail(function(jqxhr, settings, ex) { alert('failed, ' + ex); });
  }

  function getSortedKeys(obj) {
    var keys = Object.keys(obj);
    return keys.sort();
  }

  function updatePlaceholderTable(table_id, data) {
    $(table_id).empty();

    var dataKeys = getSortedKeys(data);
    console.log("dataKeys: " + dataKeys)
    var idx;
    var key;
    var value;
    var rowText;
    var newRow;
    for (idx = 0; idx < dataKeys.length; idx++) {
      key = dataKeys[idx];
      if (key != 'idx') {
        value = data[key];
        // Want literal braces for placeholder, so don't bother with string interpolation:
        tdPlaceholder = '<td><div class="astutus-placeholder">{' + key + '}</div></td>';
        tdCurrentValue = `<td><div class="astutus-current-value">${value}</div></td>`;
        tdbutton = '<td><button class="astutus-insert-placeholder">Insert</button></td>'
        rowText = `<tr>${tdbutton}${tdPlaceholder}${tdCurrentValue}</tr>`;
        $(table_id).append(rowText)
      }
    }
  }

  // Set the background color upon loading
  $(".tree_html").css("background-color", '{{ tree_html_background_color }}');

</script>
