<h3>device_id_list:</h3>
{% for device in device_id_list%}
<div>
    <pre>
        {{ device }}
    </pre>
</div>
{% endfor %}
alias_list:
{% for alias in alias_list%}
<div>
<pre>
{{ alias }}
</pre>
</div>
{% endfor %}

<h3>Device Labels</h3>
{% for label in labels%}
<div>
    {{ label | safe }}
</div>
{% endfor %}

<h3>item.node_data.html_label</h3>
{% for item in node_data_list%}
<div>
{{ item.node_data.html_label | safe }}
</div>
{% endfor %}

<h3>node_data_list</h3>
{% for node_data in node_data_list%}
<pre>
{{ node_data | tojson_pretty }}
</pre>
{% endfor %}

device_data_list
{% for device_data in device_data_list%}
<pre>
{{ device_data | tojson_pretty }}
</pre>
{% endfor %}
