flake8>=3.8.4
Flask>=1.1.2
Flask-SQLAlchemy>=2.4.4
pytest>=6.2.1
# pyusb>=1.1.0
setuptools>=51.0.0
pep517>=0.9.1
rope==0.18.0
sphinx>=3.4.3
sphinx_rtd_theme>=0.5.1
SQLAlchemy>=1.3.22
serial
treelib
webcolors>=1.11.1