<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function deleteViaJavascript(item_id) {
        if (confirm("Are you sure you want to delete item " + item_id + "?")) {
            $.ajax({
                method : 'delete',
                success: function(data, textStatus,  jqXHR) {
                    if (jqXHR.status == 202) {
                        redirect_url = data["redirect_url"]
                        window.location.replace(redirect_url);
                    }
                },
                error: function(xhr) {
                    alert('Failed to delete item ' + item_id)
                }
            })
        }
    }
</script>
<form onsubmit="return deleteViaJavascript('{{ item.id }}' );">
    <button type="submit">Delete</button>
</form>