

<div class="tree_html" id="tree_html_container_no">
{{ tree_html | safe }}
</div>
<script>
  $(function() {
    $('#tree_html_container').jstree();
  });
</script>
<style>
  #add_alias_form {
    background-color: rgb(212, 229, 241);
    padding: 3ch;
    display: none;
    position: absolute;
    left: 200px;
    top: 150px;
    width: 700px;
    height: 330px;
    z-index: 11000;

  }
  /* #add_alias_form.form.p {
    padding-bottom: 1ch;
  } */
  #nodepath {
    width: 100%;
  }
  #template {
    width: 100%;
  }
  #add_alias_form_button_div {
    padding-top: 1ch;
  }
</style>
<div id="add_alias_form" >
  <form method="POST">
    <p>
      <label for="nodepath">Node path:</label>
      <input name="nodepath" id="nodepath" type="text" value="need to populated ..." />
    </p>
    <p>
      <label for="template">Template:</label>
      <input name="template" id="template" type="text" value="need to populated ..." />
    </p>
    <p>
      <label for="color_select">Choose a color:</label>
      <select name="color_select" id="color_select" >
        <option value="blue">Blue</option>
        <option value="cyan">Cyan</option>
        <option value="green">Green</option>
        <option value="magenta">Magenta</option>
        <option value="pink">Pink</option>
        <option value="purple">Purple</option>
        <option value="yellow">Yellow</option>
      </select>
    </p>
    <input name="action" id="action" type="hidden" value="add_or_update_alias" />
    <div id="add_alias_form_button_div">
      <input type="submit" value="Add" id="add_alias_form_add_button" />
      <input type="button" value="Cancel" onclick="handle_add_alias_form_cancel()"/>
    </div>
  </form>
</div>
<script>
  function handle_tree_item_click(data) {
    var container = $("#add_alias_form")

    var nodeButton = $("#" + data["idx"])

    var buttonOffset = nodeButton.offset();
    // window.alert(buttonOffset.top);
    container.css("top", buttonOffset.top + 30);
    container.css("left", buttonOffset.left + 30);
    container.show();

    $("#nodepath").val(data["nodepath"]);
    $("#template").val(data["alias_description_template"]);
    var color = data["alias_color"];
    if (color != "") {
      $("#color_select").val(color);
    }
    if (!isElementInViewport(container)) {
      // Form will be below button
      console.log("Scrolling element into view.")
      var domDivElement = container[0];
      domDivElement.scrollIntoView(false);
    }
  }

  function handle_add_alias_form_cancel() {
    $("#add_alias_form").hide();
  }

  function isElementInViewport (el) {

    // Special bonus for those using jQuery
    if (typeof jQuery === "function" && el instanceof jQuery) {
        el = el[0];
    }

    var rect = el.getBoundingClientRect();

    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
        rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
    );
  }


</script>