{% if device_configurations | length > 1 %}
    <h2>Items</h2>
    {% for device_config in device_configurations.items() %}
    <div>
        <table>
            <tr>
                <td>Name</td><td>{{ device_config.name }}</td>
            </tr>
            <tr>
                <td>Device ID</td><td>{{ device_config.id }}</td>
            </tr>
            <tr>
                <td>Stylers:</td>
                <td>
                    {% for styler in device_config.stylers %}
                    <table>
                        {% for key, value in styler.items() %}
                            <tr><td>{{ key }}</td><td>{{ value.html_editor }}</td></tr>
                        {% endfor %}
                    </table>
                    <hr/>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <button onclick="window.location.href='/astutus/app/usb/configuration/{{ device_config.id }}/index.html'">Edit</button>

        <hr/>
    </div>
    {% endfor %}
{% else %}
   No device name configurations are defined.  This is worrisome, since the system is distributed
   with a number name configurations pre-configured.  You might want to delete files in your
   ~/.astutus directory, and then reinstall the Astustus package.
{% endif %}