

{% if aliases | length > 1 %}
    <h2>Items</h2>
    {% for key, alias in aliases.items() | sort(attribute='1.name') %}
        <div>
            <table>
                <tr>
                    <td>Name</td><td>{{ alias.name }}</td>
                </tr>
                <tr>
                    <td>Pattern</td><td>{{ alias.pattern }}</td>
                </tr>
                <tr>
                    <td>Template</td><td>{{ alias.description_template }}</td>
                </tr>
                <!-- <tr>
                    <td>Color</td><td>{{ alias.color }}</td>
                </tr>
                <tr>
                    <td>Order</td><td>{{ alias.order }}</td>
                </tr>
                <tr>
                    <td>Priority</td><td>{{ alias.priority }}</td>
                </tr> -->
            </table>
            <table>
                <tr>
                    <td><button onclick="window.location.href='/astutus/app/usb/alias/{{ alias.pattern }}/index.html'">Edit</button></td>
                    <td>
                        <form onsubmit="return deleteViaJavascript('{{ alias.pattern }}' );">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
            <hr/>
        </div>
    {% endfor %}
{% else %}
    There are no aliases defined.
{% endif %}

