<link rel="stylesheet" href="/static/device_tree.css" />
<p>
  <input type="checkbox" onclick="toggleVisibility(this, '.node_id_class', 'inline')">Node ID</input>
  <span>
  <input type="color" value="{{ tree_html_background_color }}" onchange="onBackgroundColorChange(this)" class="astutus-color">Background Color</input>
  </span>
</p>
<div class="astutus-tree-html" id="tree-html-container">

  {% if bare_tree is not none %}
    {{ bare_tree | safe }}
  {% endif %}

</div>
<div id="edit-label-container" class="astutus-popup">
<p>Content will be dynamically populated using AJAX.  </p>
</div>

<div id="button-menu" class="astutus-popup astutus-menu">
  <div>
    <a onclick="handleDisplayLabelEditor()">Edit or create label rule...</a>
  </div>
  <div>
    <a onclick="HandleWorkWithDevice()">Work with device...</a>
  </div>
  <div>
    <a onclick="handleButtonMenuHide()">Cancel</a>
  </div>
</div>
{% if aliases_javascript is not none %}
{{ aliases_javascript | safe }}
{% endif %}
{% if configurations_javascript is not none %}
{{ configurations_javascript | safe }}
{% endif %}
<script>
// Set the background color upon loading
document.querySelector("#tree-html-container").style.background = '{{ tree_html_background_color }}';
</script>
<script src="/static/device_tree.js"></script>
