
{% macro define_check_row(field, operator, value) %}
<tr>
    <td>
        <input  name="check_field" value="{{ field }}" class="field_value"/>
    </td>
    <td>
        <select name="check_operator">
            <option value="equals" {% if operator == 'equals' %}selected{% endif %}>equals</option>
            <option value="contains" {% if operator == 'contains' %}selected{% endif %}>contains</option>
        </select>
    </td>
    <td>
        <input name="check_value" value="{{ value }}" class="value_value"/>
    </td>
    <td><button type="button" onclick="deleteRow(this)">Delete</button></td>
</tr>
{% endmacro %}


<script>

    function addCheckRow() {
        var templateTable = document.querySelector('#rule-table-row-template-holder');
        var rows = templateTable.rows
        const lastRow = rows[rows.length -1];
        var clonedRow = lastRow.cloneNode(true);
        var checkTable = document.querySelector('#rule-table');
        checkTable.appendChild(clonedRow);
    }

    function deleteRow(button) {
        node = button.parentNode;
        while (node != undefined) {
            console.log(node.nodeName);
            if (node.nodeName == 'TR') {
                break;
            }
            node = node.parentNode;
        }
        if (node != undefined) {
            tr = node;
            tr.parentNode.removeChild(tr);
        } else {
            alert('What went wrong????')
        }
    }
</script>
<style>
    div.buttons {
        padding-top: 2ch;
    }
    input#cancel-button {
        margin-left: 25ch;
    }
    input#submit-button {
        margin-left: 10ch;
    }
    button#new-check {
        margin-bottom: 2ch;
    }
    table#rule-table select,
    table#rule-table input {
        margin-right: 2ch;
    }
    table#rule-table td {
        vertical-align: middle;
    }
    table#layout-table {
        border-spacing: 2ch;
        border-collapse: separate;
    }
    input.template {
        width: 700px;
    }
</style>

<table id="rule-table-row-template-holder" style="display: none">
    {{ define_check_row('--field--', 'equals', '--value--') }}
</table>

<form method="POST">

<table id="layout-table">


<tr>
    <td>
        <label for="label_rule_name">Name</label>
    </td>
    <td>
        <input name="label_rule_name" id="label_rule_name" value="{{ rule.name}}" class="label_rule_name"/>
    </td>
</tr>


<tr>
    <td>
        Checks
    </td>
    <td>
        <table id="rule-table">
            {% for check in rule.checks %}
                {{ define_check_row(check.field, check.operator, check.value) }}
            {% endfor %}
        </table>
    </td>
</tr>
<tr>
    <td></td>
    <td>
        <button id="new-check" type="button" onclick="addCheckRow(); return false">New Check</button>
    </td>
</tr>


<tr>
    <td>
        <label for="label_rule_template" >Template: </label>
    </td>
    <td>
        <input name="label_rule_template" value="{{ rule.template }}" class="template"/>
    </td>
</tr>

<tr>
    <td>
        <label for="label_rule_extra_fields" >Extra Fields: </label>
    </td>
    <td>
        <input name="label_rule_extra_fields" value="{{ rule.extra_fields | join(', ')}}" class="template"/>
    </td>
</tr>

</table>

<div class="buttons">
    <input id='cancel-button' type="button" name="cancel" value="Cancel" onClick="window.location.href='/astutus/app/usb/labelrule/index.html';" />
    <input id='submit-button' type="submit" name="save" value="Save" />
</div>


</form>

{% include "app/usb/placeholder.html" %}

Got here!
{% for device_data in device_data_for_rule %}
<pre>
    {{ device_data | tojson_pretty }}
</pre>
{% endfor %}
And after here!
