
{% macro define_check_row(field, operator, value) %}
<tr>
    <td>
        <input  name="check_field" value="{{ field }}" class="field_value"/>
    </td>
    <td>
        <select name="check_operator">
            <option value="equals" {% if operator == 'equals' %}selected{% endif %}>equals</option>
            <option value="contains" {% if operator == 'contains' %}selected{% endif %}>contains</option>
        </select>
    </td>
    <td>
        <input name="check_value" value="{{ value }}" class="value_value"/>
    </td>
    <td><button type="button" onclick="deleteRow(this)">Delete</button></td>
</tr>
{% endmacro %}

<style>
    div.buttons {
        padding-top: 2ch;
    }
    input#cancel-button {
        margin-left: 25ch;
    }
    input#submit-button {
        margin-left: 10ch;
    }
    button#new-check {
        margin-bottom: 2ch;
    }
    table#rule-table select,
    table#rule-table input {
        margin-right: 2ch;
    }
    table#rule-table td {
        vertical-align: middle;
    }
    table#layout-table {
        border-spacing: 2ch;
        border-collapse: separate;
    }
    input.template {
        width: 700px;
    }
</style>

<table id="rule-table-row-template-holder" style="display: none">
    {{ define_check_row('--field--', 'equals', '--value--') }}
</table>

<form method="POST">

<table id="layout-table">


<tr>
    <td>
        <label for="label_rule_name">Name</label>
    </td>
    <td>
        <input name="label_rule_name" id="label_rule_name" value="{{ rule.name}}" class="label_rule_name"/>
    </td>
</tr>


<tr>
    <td>
        Checks
    </td>
    <td>
        <table id="rule-table">
            {% for check in rule.checks %}
                {{ define_check_row(check.field, check.operator, check.value) }}
            {% endfor %}
        </table>
    </td>
</tr>
<tr>
    <td></td>
    <td>
        <button id="new-check" type="button" onclick="addCheckRow(); return false">New Check</button>
    </td>
</tr>


<tr>
    <td>
        <label for="label_rule_template" >Template: </label>
    </td>
    <td>
        <input name="label_rule_template" id="label-rule-template" value="{{ rule.template }}" class="template"/>
    </td>
</tr>

<tr>
    <td>
        <label for="label_rule_extra_fields" >Extra Fields: </label>
    </td>
    <td>
        <input name="label_rule_extra_fields"  value="{{ rule.extra_fields | join(', ')}}" class="template"/>
    </td>
</tr>

</table>

<div class="buttons">
    <input id='cancel-button' type="button" name="cancel" value="Cancel" onClick="{{ cancel_onclick_action }}" />
    <input id='submit-button' type="submit" name="save" value="Save" />
</div>


</form>

{% import "app/usb/placeholder.html" as placeholder %}
{{ placeholder.create_table('label-rule-placeholder-table') }}


Got here!
{% for device_data in device_data_for_rule %}
<pre>
    {{ device_data | tojson_pretty }}
</pre>
{% endfor %}
And after here!

<script src="/static/placeholder.js"></script>
<script src="/static/label_rule_editor.js"></script>

{% if device_data_for_rule|length > 0 %}

<script id="initialize-placeholder-table">
    var placeholderInsertData = {{ device_data_for_rule[0] | safe }}; // eslint-disable-line
    // Need to add non-field placeholders
    // Should have default fields without values for general definition???
    initialize_placeholder(placeholderInsertData);
</script>

{% endif %}
