
<!-- Need to parameterize for id's-->
<div>
    The following placeholders can be inserted into the template by clicking its Insert button.
    <table class="astutus-table-scroll-header">
      <thead><tr><th></th><th>Placeholder</th><th>Current Value</th></tr></thead>
    </table>
  </div>
  <div class="astutus-table-scroll-wrapper">
    <div class="astutus-table-scroll">
      <table id="alias-placeholder-table" class="astutus-table-scroll">
        <tr><td>Placeholder</td><td>Current Value</td><td></td></tr>
      </table>
    </div>
  </div>